01_Software/WA4_Raspberry_NodeRed/node-red/flows.json
[{"id":"68b5d9d5.be0a18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7b5639a0.b1ff4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9922bb62.5c884","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e19cb60.e9930c8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"187d303e.2420e","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"e342734.95b1a9","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#3c937a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Agro-io","default":"#4B7930","baseColor":"#1abc9c","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#1abc9c","edited":true},"page-titlebar-backgroundColor":{"value":"#1abc9c","edited":false},"page-backgroundColor":{"value":"#000000","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1abc9c","edited":true},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#000000","edited":true},"widget-backgroundColor":{"value":"#1abc9c","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Agro.io","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5ea10df6.259144","type":"ui_group","z":"","name":"Tablero","tab":"","disp":true,"width":"6","collapse":false},{"id":"5efb2d05.3319c4","type":"mqtt-broker","z":"","name":"wa_broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"55f938c1.0bc468","type":"ui_spacer","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"1e2ab2ea.c3559d","type":"ui_spacer","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"9d9697.9bd50968","type":"ui_spacer","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"c1f629be.c00f08","type":"ui_spacer","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"d8468a32.8264a8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":3,"height":1},{"id":"dac03187.067d9","type":"ui_spacer","name":"spacer","group":"","order":11,"width":3,"height":1},{"id":"d0d3182a.3d111","type":"ui_tab","z":"","name":"Gráfica Area 1","icon":"dashboard","order":8,"disabled":false,"hidden":true},{"id":"34e5c6b.ec22d3a","type":"ui_link","z":"","name":"Regresar","link":"http://192.168.1.102/","icon":"open_in_browser","target":"thistab","order":13},{"id":"43ed2ff6.3b05d","type":"ui_tab","z":"","name":"Gráfica Area 2","icon":"dashboard","order":9,"disabled":false,"hidden":true},{"id":"7b30830.f088c7c","type":"ui_tab","z":"","name":"Gráfica Area 3","icon":"dashboard","order":10,"disabled":false,"hidden":true},{"id":"56924a84.8f33b4","type":"ui_tab","z":"","name":"Gráfica Area 4","icon":"dashboard","order":11,"disabled":false,"hidden":true},{"id":"68d0dc85.f79314","type":"ui_tab","z":"","name":"Gráfica Climática","icon":"dashboard","order":12,"disabled":false,"hidden":true},{"id":"31173a70.c35916","type":"ui_tab","z":"","name":"Gráfica Resumen","icon":"dashboard","order":7,"disabled":false,"hidden":true},{"id":"cee50620.33b65","type":"ui_group","z":"","name":"Area 1","tab":"31173a70.c35916","order":1,"disp":true,"width":"6","collapse":false},{"id":"e4bb42a0.d7a04","type":"ui_group","z":"","name":"Area 2","tab":"31173a70.c35916","order":2,"disp":true,"width":"6","collapse":false},{"id":"4688a508.fe2f84","type":"ui_group","z":"","name":"Area 3","tab":"31173a70.c35916","order":3,"disp":true,"width":"6","collapse":false},{"id":"6269d6ef.f775d","type":"ui_group","z":"","name":"Area 4","tab":"31173a70.c35916","order":4,"disp":true,"width":"6","collapse":false},{"id":"e52e2668.7e0988","type":"ui_group","z":"","name":"ETo","tab":"68d0dc85.f79314","order":1,"disp":true,"width":"6","collapse":false},{"id":"460ec354.a8cb0c","type":"ui_group","z":"","name":"Sensores","tab":"68d0dc85.f79314","order":2,"disp":true,"width":"6","collapse":false},{"id":"a9063255.c19b4","type":"ui_group","z":"","name":"Sensores","tab":"68d0dc85.f79314","order":3,"disp":true,"width":"6","collapse":false},{"id":"c6d45083.4938b","type":"ui_group","z":"","name":"Riego","tab":"d0d3182a.3d111","order":1,"disp":true,"width":"6","collapse":false},{"id":"7dd6a035.0c1d1","type":"ui_group","z":"","name":"Humedad Suelo","tab":"d0d3182a.3d111","order":2,"disp":true,"width":"6","collapse":false},{"id":"20b8f166.4d0c0e","type":"ui_group","z":"","name":"Riego","tab":"43ed2ff6.3b05d","order":1,"disp":true,"width":"6","collapse":false},{"id":"64261aa5.457f74","type":"ui_group","z":"","name":"Humedad Suelo","tab":"43ed2ff6.3b05d","order":2,"disp":true,"width":"6","collapse":false},{"id":"bf02b342.e8a5d","type":"ui_group","z":"","name":"Riego","tab":"7b30830.f088c7c","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d27d45b.c1642c","type":"ui_group","z":"","name":"Humedad Suelo","tab":"7b30830.f088c7c","order":2,"disp":true,"width":"6","collapse":false},{"id":"fc40a05b.8c385","type":"ui_group","z":"","name":"Riego","tab":"56924a84.8f33b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"f012e5a1.1a01f8","type":"ui_group","z":"","name":"Humedad Suelo","tab":"56924a84.8f33b4","order":2,"disp":true,"width":"6","collapse":false},{"id":"57d91713.c88d58","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"2047d515.2b425a","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"b9e350db.7f3db","type":"ui_tab","z":"","name":"Resumen Riego","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"b20b6093.4fd7d","type":"ui_group","z":"","name":"Area 1","tab":"b9e350db.7f3db","order":1,"disp":true,"width":5,"collapse":false},{"id":"bbd64800.4b8318","type":"ui_group","z":"","name":"Area 2","tab":"b9e350db.7f3db","order":2,"disp":true,"width":5,"collapse":false},{"id":"5b67aca6.199a34","type":"ui_group","z":"","name":"Area 3","tab":"b9e350db.7f3db","order":3,"disp":true,"width":5,"collapse":false},{"id":"1358f7e8.bf6d18","type":"ui_group","z":"","name":"Area 4","tab":"b9e350db.7f3db","order":4,"disp":true,"width":5,"collapse":false},{"id":"9a5912ef.6889e","type":"ui_tab","z":"","name":"Area 1 Riego","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"4e5e5b32.6c8034","type":"ui_group","z":"","name":"Riego","tab":"9a5912ef.6889e","order":3,"disp":true,"width":6,"collapse":false},{"id":"bdb9106.31f12f","type":"ui_group","z":"","name":"Sensores","tab":"9a5912ef.6889e","order":2,"disp":true,"width":6,"collapse":false},{"id":"6c65395a.4a4fe8","type":"ui_group","z":"","name":"Ambiente","tab":"9a5912ef.6889e","order":1,"disp":true,"width":"6","collapse":false},{"id":"f2eeabda.e1c228","type":"ui_spacer","name":"spacer","group":"b20b6093.4fd7d","order":2,"width":1,"height":1},{"id":"5feb027c.0887cc","type":"ui_spacer","name":"spacer","group":"b20b6093.4fd7d","order":4,"width":1,"height":1},{"id":"5ffb352.ee990cc","type":"ui_spacer","name":"spacer","group":"b20b6093.4fd7d","order":5,"width":1,"height":1},{"id":"cfabd72b.aeea38","type":"ui_spacer","name":"spacer","group":"b20b6093.4fd7d","order":6,"width":1,"height":1},{"id":"d295e431.b134b8","type":"ui_spacer","name":"spacer","group":"bbd64800.4b8318","order":2,"width":1,"height":1},{"id":"8242c33f.77ba5","type":"ui_spacer","name":"spacer","group":"bbd64800.4b8318","order":4,"width":1,"height":1},{"id":"a204dde6.05a06","type":"ui_spacer","name":"spacer","group":"bbd64800.4b8318","order":5,"width":1,"height":1},{"id":"9a4a4d74.7e3cf","type":"ui_spacer","name":"spacer","group":"bbd64800.4b8318","order":6,"width":1,"height":1},{"id":"28c0f021.f4387","type":"ui_spacer","name":"spacer","group":"5b67aca6.199a34","order":2,"width":1,"height":1},{"id":"7faa039a.c224fc","type":"ui_spacer","name":"spacer","group":"5b67aca6.199a34","order":4,"width":1,"height":1},{"id":"c5ec8725.46d1d8","type":"ui_spacer","name":"spacer","group":"5b67aca6.199a34","order":5,"width":1,"height":1},{"id":"ef83daab.9a8228","type":"ui_spacer","name":"spacer","group":"5b67aca6.199a34","order":6,"width":1,"height":1},{"id":"80f4cf55.b61ad","type":"ui_spacer","name":"spacer","group":"1358f7e8.bf6d18","order":2,"width":1,"height":1},{"id":"621f261b.6de9c8","type":"ui_spacer","name":"spacer","group":"1358f7e8.bf6d18","order":4,"width":1,"height":1},{"id":"139137e3.e1ce48","type":"ui_spacer","name":"spacer","group":"1358f7e8.bf6d18","order":5,"width":1,"height":1},{"id":"37372a8e.3ad036","type":"ui_spacer","name":"spacer","group":"1358f7e8.bf6d18","order":6,"width":1,"height":1},{"id":"20c27750.9c3a68","type":"ui_tab","z":"","name":"Area 2 Riego","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"c77b5cf8.1f2e3","type":"ui_tab","z":"","name":"Area 3 Riego","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"f95e4c3d.d4ca8","type":"ui_tab","z":"","name":"Area 4 Riego","icon":"dashboard","order":5,"disabled":false,"hidden":true},{"id":"c3e8af9d.0f798","type":"ui_group","z":"","name":"Sensores","tab":"20c27750.9c3a68","order":2,"disp":true,"width":6,"collapse":false},{"id":"bc4cd0a0.795b5","type":"ui_group","z":"","name":"Ambiente","tab":"20c27750.9c3a68","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab26cfa9.59f8","type":"ui_group","z":"","name":"Riego","tab":"20c27750.9c3a68","order":3,"disp":true,"width":"6","collapse":false},{"id":"c6ffb3a3.644eb","type":"ui_group","z":"","name":"Sensores","tab":"c77b5cf8.1f2e3","order":2,"disp":true,"width":6,"collapse":false},{"id":"f46f2133.7868a","type":"ui_group","z":"","name":"Ambiente","tab":"c77b5cf8.1f2e3","order":1,"disp":true,"width":"6","collapse":false},{"id":"18deda55.83c486","type":"ui_group","z":"","name":"Riego","tab":"c77b5cf8.1f2e3","order":3,"disp":true,"width":"6","collapse":false},{"id":"dfbda266.38a11","type":"ui_group","z":"","name":"Sensores","tab":"f95e4c3d.d4ca8","order":2,"disp":true,"width":6,"collapse":false},{"id":"d0f67c2f.59d8b","type":"ui_group","z":"","name":"Ambiente","tab":"f95e4c3d.d4ca8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5fde28a1.cc04c8","type":"ui_group","z":"","name":"Riego","tab":"f95e4c3d.d4ca8","order":3,"disp":true,"width":"6","collapse":false},{"id":"69008514.601c7c","type":"ui_tab","z":"","name":"Area Climática","icon":"dashboard","order":6,"disabled":false,"hidden":true},{"id":"5f9cf5d3.542edc","type":"ui_group","z":"","name":"Evapotranspiración","tab":"69008514.601c7c","order":1,"disp":true,"width":6,"collapse":false},{"id":"dfe24380.2a277","type":"ui_group","z":"","name":"Sensores","tab":"69008514.601c7c","order":2,"disp":true,"width":6,"collapse":false},{"id":"9964ae90.927ff","type":"ui_group","z":"","name":"Sensores","tab":"69008514.601c7c","order":3,"disp":true,"width":6,"collapse":false},{"id":"c3743b92.24b638","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":1,"width":1,"height":1},{"id":"9d8ef5c8.03e558","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":3,"width":1,"height":1},{"id":"855f53b7.c6062","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":4,"width":1,"height":1},{"id":"59278684.9331e8","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":5,"width":1,"height":1},{"id":"edbf5263.a213a","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":6,"width":1,"height":1},{"id":"d3bb44ce.73d968","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":7,"width":1,"height":1},{"id":"492224ef.0338bc","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":8,"width":1,"height":1},{"id":"2799517a.d95eae","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":10,"width":1,"height":1},{"id":"a0b1c99c.7464e8","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":11,"width":1,"height":1},{"id":"552043a4.bc11ac","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":12,"width":1,"height":1},{"id":"daaf925e.a215e","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":13,"width":1,"height":1},{"id":"ec8a9cc6.1d8af","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":14,"width":1,"height":1},{"id":"c68b9d0.a430f6","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":15,"width":1,"height":1},{"id":"d3c3b0b6.1196e","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":17,"width":1,"height":1},{"id":"334597da.aa9ce8","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":18,"width":1,"height":1},{"id":"737af128.85d11","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":19,"width":1,"height":1},{"id":"24b9b0c9.e932b","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":20,"width":1,"height":1},{"id":"8daa4db5.44a51","type":"ui_spacer","name":"spacer","group":"bdb9106.31f12f","order":21,"width":1,"height":1},{"id":"952ff090.d6082","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":1,"width":1,"height":1},{"id":"70f9b2ed.7f771c","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":3,"width":1,"height":1},{"id":"cb13805d.c04e2","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":4,"width":1,"height":1},{"id":"8a5d4a63.e3ecd8","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":5,"width":1,"height":1},{"id":"3bf738f6.37ad58","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":6,"width":1,"height":1},{"id":"b6e2976.7c98468","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":7,"width":1,"height":1},{"id":"2f0eee40.00c0f2","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":8,"width":1,"height":1},{"id":"3a37303d.75936","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":10,"width":1,"height":1},{"id":"3ce5d454.7b1bac","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":11,"width":1,"height":1},{"id":"2b1ffa5c.6f1aa6","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":12,"width":1,"height":1},{"id":"7b1338da.572708","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":13,"width":1,"height":1},{"id":"f5ac6b4b.4b5738","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":14,"width":1,"height":1},{"id":"37b7b972.d9a346","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":15,"width":1,"height":1},{"id":"cce0261e.2a4a18","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":17,"width":1,"height":1},{"id":"5787635a.497bec","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":18,"width":1,"height":1},{"id":"dc9a4890.1de688","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":19,"width":1,"height":1},{"id":"2ce0bd50.cec582","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":20,"width":1,"height":1},{"id":"b6b8f48d.ce39f8","type":"ui_spacer","name":"spacer","group":"c3e8af9d.0f798","order":21,"width":1,"height":1},{"id":"b489d54d.989228","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":1,"width":1,"height":1},{"id":"78fe4ad0.659284","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":3,"width":1,"height":1},{"id":"6f239f47.39aa2","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":4,"width":1,"height":1},{"id":"10585c0f.faac84","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":5,"width":1,"height":1},{"id":"878b2ff2.5a1ad","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":6,"width":1,"height":1},{"id":"18710120.2c014f","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":7,"width":1,"height":1},{"id":"a1d46e7c.ba4a6","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":8,"width":1,"height":1},{"id":"8c0f6e6b.c8ac7","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":10,"width":1,"height":1},{"id":"da169fef.c0fbc","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":11,"width":1,"height":1},{"id":"4104722e.fa4cac","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":12,"width":1,"height":1},{"id":"50c45998.5d2f38","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":13,"width":1,"height":1},{"id":"3763ea4e.102e16","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":14,"width":1,"height":1},{"id":"38af0cbe.d86a64","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":15,"width":1,"height":1},{"id":"f51a83f5.b7ab5","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":17,"width":1,"height":1},{"id":"8f3cfc85.82ed5","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":18,"width":1,"height":1},{"id":"7b9f7a03.f6d104","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":19,"width":1,"height":1},{"id":"aa0b8cbd.a6d55","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":20,"width":1,"height":1},{"id":"f3587045.a683c","type":"ui_spacer","name":"spacer","group":"c6ffb3a3.644eb","order":21,"width":1,"height":1},{"id":"81b64db8.69264","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":1,"width":1,"height":1},{"id":"7c1b804a.f1e4f","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":3,"width":1,"height":1},{"id":"d13e6059.56687","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":4,"width":1,"height":1},{"id":"e1a5c499.1f3e88","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":5,"width":1,"height":1},{"id":"311e4803.dacb18","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":6,"width":1,"height":1},{"id":"fa859bf.17d2868","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":7,"width":1,"height":1},{"id":"8e0b7561.eceb88","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":8,"width":1,"height":1},{"id":"14b9cf2b.208c31","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":10,"width":1,"height":1},{"id":"412613b7.e8a32c","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":11,"width":1,"height":1},{"id":"c9c8e338.e4621","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":12,"width":1,"height":1},{"id":"66ddabdc.ff6074","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":13,"width":1,"height":1},{"id":"61577d9d.236e54","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":14,"width":1,"height":1},{"id":"55cfe0a5.349a9","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":15,"width":1,"height":1},{"id":"408274e8.f5649c","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":17,"width":1,"height":1},{"id":"34c52843.dca848","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":18,"width":1,"height":1},{"id":"9e5067d4.8fb238","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":19,"width":1,"height":1},{"id":"1a615f62.ce29d1","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":20,"width":1,"height":1},{"id":"3e8c7f76.3b7f3","type":"ui_spacer","name":"spacer","group":"dfbda266.38a11","order":21,"width":1,"height":1},{"id":"d254f236.394038","type":"ui_chart","z":"68b5d9d5.be0a18","name":"","group":"cee50620.33b65","order":1,"width":0,"height":0,"label":"Humedad Suelo (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":40,"wires":[[]]},{"id":"91d41421.6947f","type":"mqtt in","z":"68b5d9d5.be0a18","name":"area1_smc","topic":"wa/area1/smc","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":40,"wires":[["d254f236.394038","4e1d4097.78854","a023b478.3f4878","900bad28.1783f"]]},{"id":"d3ba0009.7276","type":"ui_chart","z":"68b5d9d5.be0a18","name":"","group":"cee50620.33b65","order":1,"width":0,"height":0,"label":"Válvula (on/off)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":120,"wires":[[]]},{"id":"156a8980.b4026f","type":"mqtt in","z":"68b5d9d5.be0a18","name":"area1_valve","topic":"wa/area1/valve","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":90,"y":120,"wires":[["d3ba0009.7276","f226c667.88b788","e786b567.04f488","e1e270e8.f196b"]]},{"id":"48bb0395.206584","type":"mqtt in","z":"68b5d9d5.be0a18","name":"area1_flow","topic":"wa/area1/flow","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":200,"wires":[["1d685047.04cac","bc81d823.6e3df8","233250a6.9438f"]]},{"id":"7619f0b8.b92b7","type":"ui_chart","z":"7b5639a0.b1ff4","name":"","group":"e4bb42a0.d7a04","order":2,"width":0,"height":0,"label":"Humedad Suelo (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":40,"wires":[[]]},{"id":"9e183ecf.cf1c5","type":"mqtt in","z":"7b5639a0.b1ff4","name":"area2_smc","topic":"wa/area2/smc","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":40,"wires":[["7619f0b8.b92b7","a2614afc.c97438","933e000b.ebd2d","9402d467.cb4c28"]]},{"id":"830bac2e.07c978","type":"ui_chart","z":"7b5639a0.b1ff4","name":"","group":"e4bb42a0.d7a04","order":2,"width":0,"height":0,"label":"Válvula (on/off)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":120,"wires":[[]]},{"id":"4e7ea247.7784b4","type":"mqtt in","z":"7b5639a0.b1ff4","name":"area2_valve","topic":"wa/area2/valve","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":90,"y":120,"wires":[["830bac2e.07c978","8c27a368.e1acf","7520778d.cd16a8","1f58b533.24326b"]]},{"id":"92aad2cc.954ab","type":"mqtt in","z":"7b5639a0.b1ff4","name":"area2_flow","topic":"wa/area2/flow","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":200,"wires":[["2080f825.211928","a5933c87.74dce","57e5efba.27b09"]]},{"id":"80ddb898.09f578","type":"ui_chart","z":"9922bb62.5c884","name":"","group":"4688a508.fe2f84","order":3,"width":0,"height":0,"label":"Humedad Suelo (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":40,"wires":[[]]},{"id":"3ec0f7e3.02a05","type":"mqtt in","z":"9922bb62.5c884","name":"area3_smc","topic":"wa/area3/smc","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":40,"wires":[["80ddb898.09f578","4280948b.e87abc","45079297.5b356c","5db3f18f.e395"]]},{"id":"2cc818f7.eac7e","type":"ui_chart","z":"9922bb62.5c884","name":"","group":"4688a508.fe2f84","order":3,"width":0,"height":0,"label":"Válvula (on/off)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":120,"wires":[[]]},{"id":"cc8a519a.f2eac8","type":"mqtt in","z":"9922bb62.5c884","name":"area3_valve","topic":"wa/area3/valve","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":90,"y":120,"wires":[["2cc818f7.eac7e","ef5aeef4.1ebf2","a6f92e34.4b2db","7d0920f7.133d1"]]},{"id":"cd3a45ee.530c08","type":"mqtt in","z":"9922bb62.5c884","name":"area3_flow","topic":"wa/area3/flow","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":200,"wires":[["4d52d058.c8e9e","33afb9a1.6f39e6","7efdacbd.0fdd54"]]},{"id":"58f6ae92.c97d5","type":"ui_chart","z":"e19cb60.e9930c8","name":"","group":"6269d6ef.f775d","order":4,"width":0,"height":0,"label":"Humedad Suelo (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":40,"wires":[[]]},{"id":"fc06ff9d.9c2c6","type":"mqtt in","z":"e19cb60.e9930c8","name":"area4_smc","topic":"wa/area4/smc","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":40,"wires":[["58f6ae92.c97d5","883b0f34.68745","5751701a.5fc95","4a964f1f.00aaa"]]},{"id":"cd6b1452.f69b28","type":"ui_chart","z":"e19cb60.e9930c8","name":"","group":"6269d6ef.f775d","order":4,"width":0,"height":0,"label":"Válvula (on/off)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":120,"wires":[[]]},{"id":"f00e3792.cc2698","type":"mqtt in","z":"e19cb60.e9930c8","name":"area4_valve","topic":"wa/area4/valve","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":90,"y":120,"wires":[["cd6b1452.f69b28","c0027537.f12408","286a864d.c4418a","94a3934c.6ae2b"]]},{"id":"921c4c91.e34d38","type":"mqtt in","z":"e19cb60.e9930c8","name":"area4_flow","topic":"wa/area4/flow","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":200,"wires":[["cf08f4d1.422fc8","1950b2cd.bda55d","b9b5f8cf.46e148"]]},{"id":"44ec30b.fbc19d","type":"mqtt in","z":"187d303e.2420e","name":"weather_eto","topic":"wa/weather/eto","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":110,"y":60,"wires":[["210afe03.b8d222","41e9e7f3.84edb8","2a9c9df6.3555f2","7e69720b.d57d0c","377a0c96.153854","1e6e7c25.6ec134"]]},{"id":"4f335541.b2853c","type":"mqtt in","z":"187d303e.2420e","name":"weather_solar","topic":"wa/weather/solar","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":90,"y":240,"wires":[["5693c81.a179038","34b99105.312ede"]]},{"id":"a49861a7.70158","type":"mqtt in","z":"187d303e.2420e","name":"weather_temp","topic":"wa/weather/temp","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":90,"y":360,"wires":[["e6425f26.476b8","8e7f2aa6.c2fd18"]]},{"id":"891ac82b.be6208","type":"mqtt in","z":"187d303e.2420e","name":"weather_hum","topic":"wa/weather/hum","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":90,"y":420,"wires":[["717a6f15.c090a","a821eec9.7029a"]]},{"id":"bdad1520.a1a778","type":"mqtt in","z":"187d303e.2420e","name":"weather_wind","topic":"wa/weather/wind","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":90,"y":300,"wires":[["f1f54552.290568","42d287d4.99aa78"]]},{"id":"210afe03.b8d222","type":"ui_chart","z":"187d303e.2420e","name":"","group":"e52e2668.7e0988","order":1,"width":6,"height":4,"label":"Evapotranspiración (mm/día)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":60,"wires":[[]]},{"id":"5693c81.a179038","type":"ui_chart","z":"187d303e.2420e","name":"","group":"460ec354.a8cb0c","order":1,"width":0,"height":0,"label":"Radiación Solar (watts/m2)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1500","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":360,"y":240,"wires":[[]]},{"id":"e6425f26.476b8","type":"ui_chart","z":"187d303e.2420e","name":"","group":"a9063255.c19b4","order":1,"width":0,"height":0,"label":"Temperatura (oC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":360,"wires":[[]]},{"id":"f1f54552.290568","type":"ui_chart","z":"187d303e.2420e","name":"","group":"460ec354.a8cb0c","order":2,"width":0,"height":0,"label":"Velocidad Viento (m/s)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":340,"y":300,"wires":[[]]},{"id":"717a6f15.c090a","type":"ui_chart","z":"187d303e.2420e","name":"","group":"a9063255.c19b4","order":2,"width":0,"height":0,"label":"Humedad (%)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":420,"wires":[[]]},{"id":"eb335877.eabfb8","type":"mqtt in","z":"68b5d9d5.be0a18","name":"area1_sm1","topic":"wa/area1/sm1","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":280,"wires":[["8e5bb788.689c58","7446096d.b84a78"]]},{"id":"3252ad32.b99732","type":"mqtt in","z":"68b5d9d5.be0a18","name":"area1_sm2","topic":"wa/area1/sm2","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":340,"wires":[["d339d922.ecd588","f3605548.34ede8"]]},{"id":"f31fed5c.4e948","type":"mqtt in","z":"68b5d9d5.be0a18","name":"area1_sm3","topic":"wa/area1/sm3","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":400,"wires":[["d0bf26a9.86b828","ff3318f0.2adbd8"]]},{"id":"aa6c3d63.bb351","type":"mqtt in","z":"7b5639a0.b1ff4","name":"area2_sm3","topic":"wa/area2/sm3","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":400,"wires":[["9e75b9f8.d28728","695a3f99.c4848"]]},{"id":"86e70dbc.030cd","type":"mqtt in","z":"7b5639a0.b1ff4","name":"area2_sm2","topic":"wa/area2/sm2","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":340,"wires":[["cf9fb885.caf0b8","10ae7fe5.418b1"]]},{"id":"9ee50165.3d6ab","type":"mqtt in","z":"7b5639a0.b1ff4","name":"area2_sm1","topic":"wa/area2/sm1","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":280,"wires":[["add24e1f.27f34","b562fdfc.09a37"]]},{"id":"45dd766c.b7ed48","type":"mqtt in","z":"9922bb62.5c884","name":"area3_sm3","topic":"wa/area3/sm3","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":400,"wires":[["f77bdc9a.329b2","88ae66c8.a6ef88"]]},{"id":"9b461fac.70c61","type":"mqtt in","z":"9922bb62.5c884","name":"area3_sm2","topic":"wa/area3/sm2","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":340,"wires":[["a447a7ee.d4a018","417e4325.46b89c"]]},{"id":"5b188d0b.abfeb4","type":"mqtt in","z":"9922bb62.5c884","name":"area3_sm1","topic":"wa/area3/sm1","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":280,"wires":[["1e292de9.efec82","adc79d5c.b85a4"]]},{"id":"fcc14527.63a848","type":"mqtt in","z":"e19cb60.e9930c8","name":"area4_sm3","topic":"wa/area4/sm3","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":400,"wires":[["ffca1cc.42a10e","50e144e3.fab62c"]]},{"id":"c56a78ab.303028","type":"mqtt in","z":"e19cb60.e9930c8","name":"area4_sm2","topic":"wa/area4/sm2","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":340,"wires":[["c9454e4a.f0ec6","66c7dd32.7b6864"]]},{"id":"e0c54db2.fc146","type":"mqtt in","z":"e19cb60.e9930c8","name":"area4_sm1","topic":"wa/area4/sm1","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":280,"wires":[["2310d446.03e32c","478342d5.e2fc9c"]]},{"id":"f226c667.88b788","type":"ui_chart","z":"68b5d9d5.be0a18","name":"","group":"c6d45083.4938b","order":1,"width":0,"height":0,"label":"Válvula (on/off)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":160,"wires":[[]]},{"id":"4e1d4097.78854","type":"ui_chart","z":"68b5d9d5.be0a18","name":"","group":"c6d45083.4938b","order":3,"width":0,"height":0,"label":"Humedad Suelo (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":80,"wires":[[]]},{"id":"1d685047.04cac","type":"ui_chart","z":"68b5d9d5.be0a18","name":"","group":"c6d45083.4938b","order":2,"width":0,"height":0,"label":"Flujo Agua (lpm)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":200,"wires":[[]]},{"id":"8e5bb788.689c58","type":"ui_chart","z":"68b5d9d5.be0a18","name":"","group":"7dd6a035.0c1d1","order":1,"width":0,"height":0,"label":"Sensor 1 (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":280,"wires":[[]]},{"id":"d339d922.ecd588","type":"ui_chart","z":"68b5d9d5.be0a18","name":"","group":"7dd6a035.0c1d1","order":2,"width":0,"height":0,"label":"Sensor 2 (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":340,"wires":[[]]},{"id":"d0bf26a9.86b828","type":"ui_chart","z":"68b5d9d5.be0a18","name":"","group":"7dd6a035.0c1d1","order":3,"width":0,"height":0,"label":"Sensor 3 (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":400,"wires":[[]]},{"id":"a2614afc.c97438","type":"ui_chart","z":"7b5639a0.b1ff4","name":"","group":"20b8f166.4d0c0e","order":3,"width":0,"height":0,"label":"Humedad Suelo (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":80,"wires":[[]]},{"id":"8c27a368.e1acf","type":"ui_chart","z":"7b5639a0.b1ff4","name":"","group":"20b8f166.4d0c0e","order":1,"width":0,"height":0,"label":"Válvula (on/off)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":160,"wires":[[]]},{"id":"2080f825.211928","type":"ui_chart","z":"7b5639a0.b1ff4","name":"","group":"20b8f166.4d0c0e","order":2,"width":0,"height":0,"label":"Flujo Agua (lpm)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":200,"wires":[[]]},{"id":"add24e1f.27f34","type":"ui_chart","z":"7b5639a0.b1ff4","name":"","group":"64261aa5.457f74","order":1,"width":0,"height":0,"label":"Sensor 1 (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":280,"wires":[[]]},{"id":"cf9fb885.caf0b8","type":"ui_chart","z":"7b5639a0.b1ff4","name":"","group":"64261aa5.457f74","order":2,"width":0,"height":0,"label":"Sensor 2 (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":340,"wires":[[]]},{"id":"9e75b9f8.d28728","type":"ui_chart","z":"7b5639a0.b1ff4","name":"","group":"64261aa5.457f74","order":3,"width":0,"height":0,"label":"Sensor 3 (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":400,"wires":[[]]},{"id":"4280948b.e87abc","type":"ui_chart","z":"9922bb62.5c884","name":"","group":"bf02b342.e8a5d","order":3,"width":0,"height":0,"label":"Humedad Suelo (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":80,"wires":[[]]},{"id":"ef5aeef4.1ebf2","type":"ui_chart","z":"9922bb62.5c884","name":"","group":"bf02b342.e8a5d","order":1,"width":0,"height":0,"label":"Válvula (on/off)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":160,"wires":[[]]},{"id":"4d52d058.c8e9e","type":"ui_chart","z":"9922bb62.5c884","name":"","group":"bf02b342.e8a5d","order":2,"width":0,"height":0,"label":"Flujo Agua (lpm)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":200,"wires":[[]]},{"id":"1e292de9.efec82","type":"ui_chart","z":"9922bb62.5c884","name":"","group":"5d27d45b.c1642c","order":1,"width":0,"height":0,"label":"Sensor 1 (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":280,"wires":[[]]},{"id":"a447a7ee.d4a018","type":"ui_chart","z":"9922bb62.5c884","name":"","group":"5d27d45b.c1642c","order":2,"width":0,"height":0,"label":"Sensor 2 (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":340,"wires":[[]]},{"id":"f77bdc9a.329b2","type":"ui_chart","z":"9922bb62.5c884","name":"","group":"5d27d45b.c1642c","order":3,"width":0,"height":0,"label":"Sensor 3 (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":400,"wires":[[]]},{"id":"883b0f34.68745","type":"ui_chart","z":"e19cb60.e9930c8","name":"","group":"fc40a05b.8c385","order":1,"width":0,"height":0,"label":"Humedad Suelo (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":80,"wires":[[]]},{"id":"c0027537.f12408","type":"ui_chart","z":"e19cb60.e9930c8","name":"","group":"fc40a05b.8c385","order":2,"width":0,"height":0,"label":"Válvula (on/off)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":160,"wires":[[]]},{"id":"cf08f4d1.422fc8","type":"ui_chart","z":"e19cb60.e9930c8","name":"","group":"fc40a05b.8c385","order":3,"width":0,"height":0,"label":"Flujo Agua (lpm)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":320,"y":200,"wires":[[]]},{"id":"2310d446.03e32c","type":"ui_chart","z":"e19cb60.e9930c8","name":"","group":"f012e5a1.1a01f8","order":1,"width":0,"height":0,"label":"Sensor 1 (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":280,"wires":[[]]},{"id":"c9454e4a.f0ec6","type":"ui_chart","z":"e19cb60.e9930c8","name":"","group":"f012e5a1.1a01f8","order":2,"width":0,"height":0,"label":"Sensor 2 (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":340,"wires":[[]]},{"id":"ffca1cc.42a10e","type":"ui_chart","z":"e19cb60.e9930c8","name":"","group":"f012e5a1.1a01f8","order":3,"width":0,"height":0,"label":"Sensor 3 (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":400,"wires":[[]]},{"id":"a023b478.3f4878","type":"ui_gauge","z":"68b5d9d5.be0a18","name":"","group":"b20b6093.4fd7d","order":1,"width":0,"height":0,"gtype":"wave","title":"Humedad Suelo","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":40,"wires":[]},{"id":"e786b567.04f488","type":"ui_gauge","z":"68b5d9d5.be0a18","name":"","group":"b20b6093.4fd7d","order":3,"width":3,"height":2,"gtype":"donut","title":"Válvula","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":540,"y":120,"wires":[]},{"id":"bc81d823.6e3df8","type":"ui_gauge","z":"68b5d9d5.be0a18","name":"","group":"b20b6093.4fd7d","order":7,"width":5,"height":3,"gtype":"gage","title":"Flujo Agua","label":"lpm","format":"{{value}}","min":0,"max":"60","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"10","seg2":"50","x":550,"y":200,"wires":[]},{"id":"933e000b.ebd2d","type":"ui_gauge","z":"7b5639a0.b1ff4","name":"","group":"bbd64800.4b8318","order":1,"width":0,"height":0,"gtype":"wave","title":"Humedad Suelo","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":40,"wires":[]},{"id":"7520778d.cd16a8","type":"ui_gauge","z":"7b5639a0.b1ff4","name":"","group":"bbd64800.4b8318","order":3,"width":3,"height":2,"gtype":"donut","title":"Válvula","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":550,"y":120,"wires":[]},{"id":"a5933c87.74dce","type":"ui_gauge","z":"7b5639a0.b1ff4","name":"","group":"bbd64800.4b8318","order":7,"width":5,"height":3,"gtype":"gage","title":"Flujo Agua","label":"lpm","format":"{{value}}","min":0,"max":"60","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"10","seg2":"50","x":560,"y":200,"wires":[]},{"id":"45079297.5b356c","type":"ui_gauge","z":"9922bb62.5c884","name":"","group":"5b67aca6.199a34","order":1,"width":0,"height":0,"gtype":"wave","title":"Humedad Suelo","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":40,"wires":[]},{"id":"a6f92e34.4b2db","type":"ui_gauge","z":"9922bb62.5c884","name":"","group":"5b67aca6.199a34","order":3,"width":3,"height":2,"gtype":"donut","title":"Válvula","label":"","format":"{{value}}","min":0,"max":"1","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":530,"y":120,"wires":[]},{"id":"33afb9a1.6f39e6","type":"ui_gauge","z":"9922bb62.5c884","name":"","group":"5b67aca6.199a34","order":7,"width":5,"height":3,"gtype":"gage","title":"Flujo Agua","label":"lpm","format":"{{value}}","min":0,"max":"60","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"10","seg2":"50","x":540,"y":200,"wires":[]},{"id":"5751701a.5fc95","type":"ui_gauge","z":"e19cb60.e9930c8","name":"","group":"1358f7e8.bf6d18","order":1,"width":0,"height":0,"gtype":"wave","title":"Humedad Suelo","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":40,"wires":[]},{"id":"286a864d.c4418a","type":"ui_gauge","z":"e19cb60.e9930c8","name":"","group":"1358f7e8.bf6d18","order":3,"width":3,"height":2,"gtype":"donut","title":"Válvula","label":"","format":"{{value}}","min":"0","max":"1","colors":["#ff0000","#ff0000","#00ff00"],"seg1":"","seg2":"","x":530,"y":120,"wires":[]},{"id":"1950b2cd.bda55d","type":"ui_gauge","z":"e19cb60.e9930c8","name":"","group":"1358f7e8.bf6d18","order":7,"width":5,"height":3,"gtype":"gage","title":"Flujo Agua","label":"lpm","format":"{{value}}","min":0,"max":"60","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"10","seg2":"50","x":540,"y":200,"wires":[]},{"id":"900bad28.1783f","type":"ui_gauge","z":"68b5d9d5.be0a18","name":"","group":"6c65395a.4a4fe8","order":1,"width":0,"height":0,"gtype":"wave","title":"Humedad Suelo","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":80,"wires":[]},{"id":"e1e270e8.f196b","type":"ui_gauge","z":"68b5d9d5.be0a18","name":"","group":"4e5e5b32.6c8034","order":2,"width":6,"height":4,"gtype":"donut","title":"Válvula","label":"","format":"{{value}}","min":"0","max":"1","colors":["#ff0000","#ff0000","#00ff00"],"seg1":"","seg2":"","x":540,"y":160,"wires":[]},{"id":"233250a6.9438f","type":"ui_gauge","z":"68b5d9d5.be0a18","name":"","group":"4e5e5b32.6c8034","order":1,"width":6,"height":5,"gtype":"gage","title":"Flujo Agua","label":"lpm","format":"{{value}}","min":0,"max":"60","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"10","seg2":"50","x":550,"y":240,"wires":[]},{"id":"7446096d.b84a78","type":"ui_gauge","z":"68b5d9d5.be0a18","name":"","group":"bdb9106.31f12f","order":2,"width":4,"height":3,"gtype":"wave","title":"Sensor 1","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":280,"wires":[]},{"id":"f3605548.34ede8","type":"ui_gauge","z":"68b5d9d5.be0a18","name":"","group":"bdb9106.31f12f","order":9,"width":4,"height":3,"gtype":"wave","title":"Sensor 2","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":340,"wires":[]},{"id":"ff3318f0.2adbd8","type":"ui_gauge","z":"68b5d9d5.be0a18","name":"","group":"bdb9106.31f12f","order":16,"width":4,"height":3,"gtype":"wave","title":"Sensor 3","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":400,"wires":[]},{"id":"41e9e7f3.84edb8","type":"ui_gauge","z":"187d303e.2420e","name":"","group":"6c65395a.4a4fe8","order":2,"width":0,"height":0,"gtype":"gage","title":"ETo","label":"mm/día","format":"{{value}}","min":0,"max":"20","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"5","seg2":"15","x":610,"y":60,"wires":[]},{"id":"9402d467.cb4c28","type":"ui_gauge","z":"7b5639a0.b1ff4","name":"","group":"bc4cd0a0.795b5","order":1,"width":0,"height":0,"gtype":"wave","title":"Humedad Suelo","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":80,"wires":[]},{"id":"1f58b533.24326b","type":"ui_gauge","z":"7b5639a0.b1ff4","name":"","group":"ab26cfa9.59f8","order":2,"width":6,"height":4,"gtype":"donut","title":"Válvula","label":"","format":"{{value}}","min":"0","max":"1","colors":["#ff0000","#ff0000","#00ff00"],"seg1":"","seg2":"","x":540,"y":160,"wires":[]},{"id":"57e5efba.27b09","type":"ui_gauge","z":"7b5639a0.b1ff4","name":"","group":"ab26cfa9.59f8","order":1,"width":6,"height":5,"gtype":"gage","title":"Flujo Agua","label":"lpm","format":"{{value}}","min":0,"max":"60","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"10","seg2":"50","x":550,"y":240,"wires":[]},{"id":"b562fdfc.09a37","type":"ui_gauge","z":"7b5639a0.b1ff4","name":"","group":"c3e8af9d.0f798","order":2,"width":4,"height":3,"gtype":"wave","title":"Sensor 1","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":280,"wires":[]},{"id":"10ae7fe5.418b1","type":"ui_gauge","z":"7b5639a0.b1ff4","name":"","group":"c3e8af9d.0f798","order":9,"width":4,"height":3,"gtype":"wave","title":"Sensor 2","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":340,"wires":[]},{"id":"695a3f99.c4848","type":"ui_gauge","z":"7b5639a0.b1ff4","name":"","group":"c3e8af9d.0f798","order":16,"width":4,"height":3,"gtype":"wave","title":"Sensor 3","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":400,"wires":[]},{"id":"5db3f18f.e395","type":"ui_gauge","z":"9922bb62.5c884","name":"","group":"f46f2133.7868a","order":1,"width":0,"height":0,"gtype":"wave","title":"Humedad Suelo","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":80,"wires":[]},{"id":"7d0920f7.133d1","type":"ui_gauge","z":"9922bb62.5c884","name":"","group":"18deda55.83c486","order":2,"width":6,"height":4,"gtype":"donut","title":"Válvula","label":"","format":"{{value}}","min":"0","max":"1","colors":["#ff0000","#ff0000","#00ff00"],"seg1":"","seg2":"","x":520,"y":160,"wires":[]},{"id":"7efdacbd.0fdd54","type":"ui_gauge","z":"9922bb62.5c884","name":"","group":"18deda55.83c486","order":1,"width":6,"height":5,"gtype":"gage","title":"Flujo Agua","label":"lpm","format":"{{value}}","min":0,"max":"60","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"10","seg2":"50","x":530,"y":240,"wires":[]},{"id":"adc79d5c.b85a4","type":"ui_gauge","z":"9922bb62.5c884","name":"","group":"c6ffb3a3.644eb","order":2,"width":4,"height":3,"gtype":"wave","title":"Sensor 1","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":280,"wires":[]},{"id":"417e4325.46b89c","type":"ui_gauge","z":"9922bb62.5c884","name":"","group":"c6ffb3a3.644eb","order":9,"width":4,"height":3,"gtype":"wave","title":"Sensor 2","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":340,"wires":[]},{"id":"88ae66c8.a6ef88","type":"ui_gauge","z":"9922bb62.5c884","name":"","group":"c6ffb3a3.644eb","order":16,"width":4,"height":3,"gtype":"wave","title":"Sensor 3","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":400,"wires":[]},{"id":"4a964f1f.00aaa","type":"ui_gauge","z":"e19cb60.e9930c8","name":"","group":"d0f67c2f.59d8b","order":1,"width":0,"height":0,"gtype":"wave","title":"Humedad Suelo","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":80,"wires":[]},{"id":"94a3934c.6ae2b","type":"ui_gauge","z":"e19cb60.e9930c8","name":"","group":"5fde28a1.cc04c8","order":2,"width":6,"height":4,"gtype":"donut","title":"Válvula","label":"","format":"{{value}}","min":"0","max":"1","colors":["#ff0000","#ff0000","#00ff00"],"seg1":"","seg2":"","x":520,"y":160,"wires":[]},{"id":"b9b5f8cf.46e148","type":"ui_gauge","z":"e19cb60.e9930c8","name":"","group":"5fde28a1.cc04c8","order":1,"width":6,"height":5,"gtype":"gage","title":"Flujo Agua","label":"lpm","format":"{{value}}","min":0,"max":"60","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"10","seg2":"50","x":530,"y":240,"wires":[]},{"id":"478342d5.e2fc9c","type":"ui_gauge","z":"e19cb60.e9930c8","name":"","group":"dfbda266.38a11","order":2,"width":4,"height":3,"gtype":"wave","title":"Sensor 1","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":280,"wires":[]},{"id":"66c7dd32.7b6864","type":"ui_gauge","z":"e19cb60.e9930c8","name":"","group":"dfbda266.38a11","order":9,"width":4,"height":3,"gtype":"wave","title":"Sensor 2","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":340,"wires":[]},{"id":"50e144e3.fab62c","type":"ui_gauge","z":"e19cb60.e9930c8","name":"","group":"dfbda266.38a11","order":16,"width":4,"height":3,"gtype":"wave","title":"Sensor 3","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":400,"wires":[]},{"id":"2a9c9df6.3555f2","type":"ui_gauge","z":"187d303e.2420e","name":"","group":"bc4cd0a0.795b5","order":2,"width":0,"height":0,"gtype":"gage","title":"ETo","label":"mm/día","format":"{{value}}","min":0,"max":"20","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"5","seg2":"15","x":610,"y":100,"wires":[]},{"id":"7e69720b.d57d0c","type":"ui_gauge","z":"187d303e.2420e","name":"","group":"f46f2133.7868a","order":2,"width":0,"height":0,"gtype":"gage","title":"ETo","label":"mm/día","format":"{{value}}","min":0,"max":"20","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"5","seg2":"15","x":610,"y":140,"wires":[]},{"id":"377a0c96.153854","type":"ui_gauge","z":"187d303e.2420e","name":"","group":"d0f67c2f.59d8b","order":2,"width":0,"height":0,"gtype":"gage","title":"ETo","label":"mm/día","format":"{{value}}","min":0,"max":"20","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"5","seg2":"15","x":610,"y":180,"wires":[]},{"id":"1e6e7c25.6ec134","type":"ui_gauge","z":"187d303e.2420e","name":"","group":"5f9cf5d3.542edc","order":1,"width":6,"height":8,"gtype":"donut","title":"ETo","label":"mm/día","format":"{{value}}","min":0,"max":"20","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"5","seg2":"15","x":610,"y":20,"wires":[]},{"id":"34b99105.312ede","type":"ui_gauge","z":"187d303e.2420e","name":"","group":"dfe24380.2a277","order":1,"width":6,"height":4,"gtype":"gage","title":"Radiación Solar","label":"watts/m2","format":"{{value}}","min":0,"max":"1500","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"500","seg2":"1000","x":640,"y":240,"wires":[]},{"id":"42d287d4.99aa78","type":"ui_gauge","z":"187d303e.2420e","name":"","group":"dfe24380.2a277","order":2,"width":6,"height":4,"gtype":"gage","title":"Velocidad Viento","label":"m/s","format":"{{value}}","min":0,"max":"20","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"5","seg2":"15","x":650,"y":300,"wires":[]},{"id":"8e7f2aa6.c2fd18","type":"ui_gauge","z":"187d303e.2420e","name":"","group":"9964ae90.927ff","order":1,"width":6,"height":4,"gtype":"gage","title":"Temperatura","label":"oC","format":"{{value}}","min":0,"max":"50","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"20","seg2":"40","x":630,"y":360,"wires":[]},{"id":"a821eec9.7029a","type":"ui_gauge","z":"187d303e.2420e","name":"","group":"9964ae90.927ff","order":2,"width":6,"height":4,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"30","seg2":"70","x":620,"y":420,"wires":[]},{"id":"180198dd.6de2d7","type":"mqtt in","z":"187d303e.2420e","name":"area1_smc","topic":"wa/area1/smc","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":480,"wires":[["dcd59cd8.d4426"]]},{"id":"1cd554c0.ef2963","type":"mqtt in","z":"187d303e.2420e","name":"area2_smc","topic":"wa/area2/smc","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":540,"wires":[["dcd59cd8.d4426"]]},{"id":"e94ee43e.7f2e78","type":"mqtt in","z":"187d303e.2420e","name":"area3_smc","topic":"wa/area3/smc","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":600,"wires":[["dcd59cd8.d4426"]]},{"id":"46f5b733.11fd5","type":"mqtt in","z":"187d303e.2420e","name":"area4_smc","topic":"wa/area4/smc","qos":"2","datatype":"auto","broker":"5efb2d05.3319c4","x":80,"y":660,"wires":[["dcd59cd8.d4426"]]},{"id":"dcd59cd8.d4426","type":"smooth","z":"187d303e.2420e","name":"getAvg","property":"payload","action":"mean","count":"4","round":"2","mult":"single","reduce":true,"x":300,"y":480,"wires":[["c03dff4a.fa9f78"]]},{"id":"c03dff4a.fa9f78","type":"ui_chart","z":"187d303e.2420e","name":"","group":"e52e2668.7e0988","order":2,"width":0,"height":0,"label":"Humedad de Suelo (%VWC)","chartType":"line","legend":"false","xformat":"D/M(HH)","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":480,"wires":[[]]}]